.chatCard {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-start;

  padding: 5px 10px;

  background-color: rgb(102, 102, 102);

  .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .body {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .message,
    .name {
      // max-width: 35%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}