.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  width: 380px;
  padding: 10px 0;


  @media (max-width: 390px) {
    width: 340px;
    row-gap: 10px;
  }
}

.reset {
  margin-top: 10px;
  color: #925FA4;
  font-size: 14px;
}